<br />
<table>
		<tr>
			<th>Nome</th>
			<th>Curso</th>
			<th>Periodo</th>
			<th>Matricula</th>
			<th>Idade</th>
			<th>Sexo</th>
			<th>Email</th>
		</tr>

		<% @alunos.each do |aluno| %>
			<tr>
			<td><center><%= aluno.nome %></td></center>
			<td><center><%= aluno.curso %></td></center>
			<td><center><%= aluno.periodo %></td></center>
			<td><center><%= aluno.matricula %></td></center>
			<td><center><%= aluno.idade %></td></center>
			<td><center><%= aluno.sexo %></td></center>
			<td><center><%= aluno.email %></td></center>
			</tr>
		<% end %>
</table>




