<script language= "JavaScript">
    function index()
    {
        location.href = "/aluno/home/";
    }
</script>

<FIELDSET><LEGEND><H1><label> Editar senha de acesso</label></H1></LEGEND>
<DIV id="localization">

<%= form_for(@aluno, :url=>{:action=>'update'}) do |l| %>
     <%= render "shared/object_error_messages", :object => @aluno %> 
    <div class="field">
        <i id="blue" class="small">(Infome sua nova senha!)</i>
        <b><br /><%= l.label "Senha:" %> </b>&nbsp&nbsp<br />
            <%= l.password_field :password, :size=>'20' %>
    </div>

    <div class="field">
        <i id="blue" class="small">(Por favor confirme a sua nova senha.)</i><br />
        <b><%= l.label "Repita a senha:" %>&nbsp</b><br />
        <%= l.password_field :password_confirmation, :size=>"20" %>
    </div>

    <div class="field">
        <i id="red" class="small">(Informe a sua senha anterior! )</i><br />
        <b><%= l.label "Senha Atual:" %>&nbsp&nbsp<i id="red">*</i>&nbsp&nbsp</b><br />
        <%= l.password_field :current_password, :size=>"21" %>
    </div>
  
    <br>
    <br></FIELDSET>
    <div class="botao_left">
                <span class="luz"><%= l.submit "Enviar", :class=>"botao", :id=>'id_botao' %></span>
    </div>
    <div class="botao_left">
        <p>
        <button type="button" class="botao", id='id_botao2' onclick="JavaScript:index()" >
            Cancelar&nbsp<font size="30"></p></font>
        </button>
    </div>
<%- end -%>
