<h2>Sign up</h2>


<%= form_for(@aluno,:url=>{:action=>'create'} ) do |l| %>
    <%= render "shared/error_messages", :target => @aluno %>
    <div class="field">
       <b>Nome.:</b><br>
	   <%= l.text_field :nome %>
	</div>
	<div class="field">
	   <b>Idade.:</b>
	    <%= l.select :idade,
				options_for_select(%w{ 17 18 19 20 21 22 23 24 25
									   26 27 28 29 30 31 32 33 34 35 36 37 
									   38 39 40 41 42 43 44 45 46 47 48 49 50 })
		%> 
    </div>
	<div class="field">
	    <b>Sexo.:</b>
	    <%= l.radio_button :sexo, "Masculino" %>Masculino
	    <%= l.radio_button :sexo, "Feminino" %>Feminino
    </div>
	<div class="field">
	    <label><b>Endereço.:</b></label><br />
	    <%= l.text_field :endereco%>
    </div>
	<div class="field">
	  <b>Matricula.:</b><br>
	    <%= l.text_field :matricula %>
	</div>
	<div class="field">
	   <b>Curso.:</b>
	    <%= l.select :curso, options_for_select(%w{ Sistemas-de-Informação }) %>
	</div>
	<div class="field">
	  <b>Periodo.:</b>
	    <%= l.select :periodo,
				options_for_select(%w{ 1ºperiodo 2ºperiodo 3ºperiodo 4ºperiodo 
				                       5ºperiodo 6ºperiodo 7ºperiodo 8ºperiodo})
		%> 
    </div>
	
    <div><%= l.label :email %><br />
  <%= l.email_field :email %></div>

  <div><%= l.label :password %><br />
  <%= l.password_field :password %></div>

  <div><%= l.label :password_confirmation %><br />
  <%= l.password_field :password_confirmation %></div>
    <br>
    <br>
    <div><%= l.submit "Sign up" %></div>
        
<% end %>





