<BR />
<CENTER>

<%= form_for designar_path,:url=>{:controller=>'avaliacoes', :action=>'designar'}, :method => :put do  %>
        <table id="home" class='avaliacoes' summary="Atividades">
            <caption>Atividades complementares</caption>

            <thead>
                <tr>
                    <th>Selecione</th>
                    <th>Aluno</th>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th>Inicio</th>
                    <th>Termino</th>
                    <th>CH - Enviada</th>
                    <th>CH - Aceita</th>
                    <th>Comprovante</th>
                    <th>Avaliada</th>
                    <th>Avaliada por</th>
                </tr>
             </thead>

             <tbody id="home">
                <% Atividade.each do |atividade| %>
            
                    <tr>
                    <td>
                        <center>
                            <%= check_box_tag "atividades_ids[]", atividade.id, @atividades.include?(atividade.id) %>
                        </center>
                    </td>

                    <td>
                        <center>
                            <%= atividade.aluno.nome %>
                        </center>
                    </td>

                    <td>
                        <center>
                            <%= atividade.nome %>
                        </center>
                    </td>

                    <td>
                        <center>
                            <%= atividade.modalidade_nome %>
                        </center>
                    </td>

                    <td>
                        <center>
                            <%= atividade.inicio %>
                        </center>
                    </td>

                    <td>
                        <center>
                            <%= atividade.termino %>
                        </center>
                    </td>

                    <td>
                        <center>
                            <%= atividade.carga_horaria %>
                        </center>
                    </td>

                    <td>
                        <center>
                            <%= atividade.carga_horaria_aceita %>
                        </center>
                    </td>

                    <% if atividade.comprovante.path.nil? %>
                        <center>
                            <TD>Nao há comprovante</TD>
                        </center>
                    <% else %>
                        <td>
                            <center>
                                <a href = "<%= atividade.comprovante %>" >
                                    <%= image_tag("samples/pdf-icon.png",:width=>"60",:height=>"50",:alt=>"Ver Comprovante") %>
                                </a>
                            </center>
                        </td>
                    <%-end-%>

                    <td>
                        <center>
                            <%= yes_or_no?(atividade.avaliada) %>
                        </center>
                    </td>

                    <td>
                        <center>
                            <% if atividade.avaliador.nil? %>
                                <div>Sem avaliador</div>
                            <% else %>
                                <%= atividade.avaliador.nome %>
                            <%-end-%>
                        </center>
                    </td>
            <%- end -%>
        </tr>
        </table>
        <% if avaliador_signed_in? and current_avaliador.admin %>
            <div class="field">
              <td>
                 <center>
                    <%= select_tag 'avaliador_id', options_for_select(@avaliadores.collect{ |u| [u.nome, u.id] }) %>
                    <%= submit_tag "Enviar"%>
               </td>
            </div>
        <% end %>

<%- end -%>
<br /> 
<div class="flickr_pagination pagination">
    <div class="page_info" id="homealuno">
        <%= will_paginate @atividades, :previous_label => "&laquo; Anterior", 
            :next_label => "Próxima &raquo;", :container => false%>
    </div>
</div>
</CENTER>
